* {
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {

}

h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 20px;
}

input {
  width: 500px;
  padding: 10px;
  display: block;
  margin: 0 auto 50px;
}

textarea {
  width: 500px;
  height: 200px;
  padding: 10px;
  margin: 0 auto 50px;
  display: block;
  resize: none;
}

button {
  width: 150px;
  height: 50px;
  margin: 0 auto ;
  display: block;
  font-size: 16px;
}

.button-box {
    display: flex;
    width: 500px;
    margin: 0 auto 50px;
}

#output {
  width: 500px;
  display: block;
  height: 500px;
  border: 1px solid #ccc;
  margin: 0 auto 50px;
  border-radius: 8px;
  padding: 10px;
}