* {
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {

}
body {
  background-color: #f7f7f7;
}
.box {
  padding-top: 20px;
}

h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 20px;
  color: #6b705c;
}

input {
  width: 500px;
  padding: 10px;
  display: block;
  margin: 0 auto 20px;
}

textarea {
  width: 500px;
  height: 200px;
  padding: 10px;
  margin: 0 auto 20px;
  display: block;
  resize: none;
}

input, textarea {
    background-color: #e8eae6; /* グレイッシュホワイト */
    border: 1px solid #b7b7a4;
    color: #6b705c;
}

button {
  width: 150px;
  height: 50px;
  margin: 0 auto ;
  display: block;
  font-size: 16px;
  background-color: #b7b7a4; /* グレイッシュグリーン */
  color: white;
  border: none;
}
button:hover {
    background-color: #a5a58d; /* ワントーン濃い色 */
    transform: scale(1.05); /* 少し大きくなる */
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.button-box {
    display: flex;
    width: 500px;
    margin: 0 auto 20px;
}

#output {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* メッセージ間の余白 */
  height: 500px;
  border: 1px solid #ccc;
  margin: 0 auto 20px;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

#output::-webkit-scrollbar {
    width: 8px;
}

#output::-webkit-scrollbar-thumb {
    background-color: #a5a58d;
    border-radius: 4px;
}

.chat-message {
  max-width: 70%; /* メッセージの幅を制限 */
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.chat-message.left {
  align-self: flex-start;
  background-color: #e0f7fa; /* 左寄せメッセージの背景色 */
  border-top-left-radius: 0;
}

.chat-message.right {
  align-self: flex-end;
  background-color: #c8e6c9; /* 右寄せメッセージの背景色 */
  border-top-right-radius: 0;
}

.chat-message .uname {
  font-size: 12px;
  margin-bottom: 5px;
  color: #555;
}

.chat-message .text {
  font-size: 16px;
}

#clear {
  margin: 0 auto 20px;
}